<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-8 col-md-offset-2">
                    <h3>Contact</h3>
                    <p>
                        Ben De Meester: <span id="mailBen">ben (dot) demeester (at) ugent (dot) be</span><br/>
                        Anastasia Dimou: <span id="mailAnastasia">anastasia (dot) dimou (at) ugent (dot) be</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a href="http://www.imec-int.com/en/home" target="_blank">imec</a> &mdash;
                    <a href="http://www.ugent.be/en" target="_blank">Ghent University</a> &mdash;
                    <a href="http://idlab.technology" target="_blank">IDLab</a> &copy;
                    <span id="year" data-year-start="2016">2016</span>
                </div>
                <div class="col-lg-6">
                    Last modified: {{ page.last_modified_at | date: '%B %e, %Y' }}
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
