<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!--Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}"><span><img alt="FnO logo" src="{{ 'favicon-32x32.png' | prepend: site.baseurl }}" style="height: 20px"/></span> FnO</a>
        </div>

        <!--Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ 'spec' | prepend: site.baseurl}}">Spec</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{ page.nav | markdownify }}
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>