section.success a {
    color: white;
}

.navbar-custom {
    padding: 0;
}

.skills a {
    color: white;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

pre code {
    white-space: pre;
}